{% assign lang = include.lang | default: "en" %}
{% assign all_news = site.news | sort: "date" | reverse %}
{% assign news_items = "" | split: "" %}
{% for item in all_news %}
  {% assign item_lang = item.lang | default: "en" %}
  {% if item_lang == lang %}{% assign news_items = news_items | push: item %}{% endif %}
{% endfor %}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray">🔥 News</h6>
    <div class="px-3 py-1 small" style="max-height: 220px; overflow-y: auto;">
        {% for item in news_items %}
        <div class="d-flex py-1 ">
            <span class="text-muted mr-2 no-break" style="min-width: 100px;">{{ item.date | date: "%b %d, %Y" }}</span>
            <span>{{ item.title }}</span>
        </div>
        {% endfor %}
    </div>
</div>
